[mysqld]
pid-file         = /home/db/data/mysqld.pid
socket           = /var/run/mysqld/mysqld.sock
datadir          = /home/db/data
secure-file-priv = NULL

# Custom config should go here
!includedir /etc/mysql/conf.d/
